{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/authentication/forget.css' %}">
</head>
<body>
    <div class="forget_popup">
        <div class="popup_body">
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    <h4>Create New Password</h4>
                    <p>Enter new password to the boxs below</p>
                    {% if form.errors %}
                        <strong style="font-size: 13px; color: red;">Please fix the following errors:</form>strong>
                        <p style="font-size: 13px; color: red;">{{ form.errors }}</p>
                    {% endif %}
                    <div class="input">
                        <label for="password1">New Password</label>
                        <input type="password" name="new_password1" placeholder="**********" autocomplete="off" required>
                    </div>
                    <div class="input">
                        <label for="password2">Confirm Password</label>
                        <input type="password" name="new_password2" placeholder="**********" autocomplete="off" required>
                    </div>
                    <input type="submit" value="Create New Password">
                    <p>Back to login? <a href="{% url 'account:login' %}">Log In</a></p>
                </form>
            {% else %}
                <h4>Invalid Link</h4>
                <p> This password reset link is incalid or hs expired. </p>
            {% endif %}
        </div>
    </div>
</body>
</html>