{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/authentication/forget.css' %}">
</head>
<body>
    <div class="forget_popup">
        <div class="popup_body">
            <form action="" method="post">
                {% csrf_token %}
                <h4>Password Reset Successfully</h4>
                <p>Go back to home page to log in your account</p>
                <a style="text-align: center; color: #fff; text-decoration:none; display: block; background-color: purple; padding: 8px; border-radius: 6px;" href="{% url 'account:login' %}">Login</a>
            </form>
        </div>
    </div>
</body>
</html>