{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/authentication/forget.css' %}">
</head>
<body>
    <div class="forget_popup">
        <div class="popup_body">
            <form action="" method="post">
                {% csrf_token %}
                <h4>Reset Password Link Sent to your email</h4>
                <p>We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
            </form>
        </div>
    </div>
</body>
</html>